.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
}

.singlePostEdit {
    float: right;
    font-size: 18px;
}

.singlePostIcon {
    margin-right: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: teal
}

.singlePostIcon:last-child {
    color: tomato
}

.singlePostIcon:hover {
    color: darkblue;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #ba9656;
    font-family: "Varela", system-ui;
}

.singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 35px;
}

.singlePostDesc::first-letter {
    margin-left: 30px;
    font-size: 40px;
    font-weight: 600;
}


.singlePostTitleInput,
.singlePostDescInput {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    border: none;
    color: #666;
    border-bottom: 1px solid black;
    font-size: 25px;
}

.singlePostDescInput {
    font-size: 18px;
}

.singlePostTitleInput:focus,
.singlePostDescInput:focus {
    outline: none;
}

.updateBtn {
    border: none;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}