.postsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
}

@media (max-width: 768px) {
    .postsContainer {
        grid-template-columns: 1fr;
    }

}