/* header.css */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
  background-size: cover;
  background-position: center;
  filter: blur(0.5px);
}

.headerTitles {
  z-index: 1;
  text-align: center;
}

.headerTitle1 {
  font-size: 3rem;
  font-weight: bold;
  animation: bounce 2s infinite;
}

.headerTitle2 {
  font-size: 2.5rem;
  margin: 10px 0;
  animation: bounce 2s infinite;
}

.animate-description {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 20px 0;
  z-index: 1;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}