.write {
    padding-top: 50px;
   
}

.writeForm {
    position: relative;

}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;

}

.writeIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(109, 108, 108);
    cursor: pointer;
}

.writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus {
    outline: none;
}

.writeText {
    font-size: 20px;
}

.writeSubmit {
    position: absolute;
    top: 20px;
    right: 300px;
    color: white;
    background-color: rgb(59, 58, 58);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.inputText {
    display: none;
}